html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #1e1e1e;
  /* background-image: url('bs_1.jpg'), url('bs_2.jpg'); */
  /* background-position: 0% 50%, 100% 50%; */
  /* background-repeat: no-repeat; */

}
div {
  width: 49%;
  height: 650px;
  border-box: border
}
div#left_dial {
  float: left;
}
#left_dial img {
  position: absolute;
  top: 125px;
  left: 250px;
  cursor: pointer;
}
#right_dial {
  float: right;
}
#wave_left {
  position: absolute;
  top: 155px;
  left: 698px;
  z-index:1000;
}
#wave_right {
  position: absolute;
  top: 155px;
  left: 1030px;
  z-index:1000;
}
#skull {
  position: absolute;
  top: -70px;
}
.rotate {
  -moz-transform: rotate(220deg);
  -webkit-transform: rotate(220deg);
  -o-transform: rotate(220deg);
  transform: rotate(220deg);

  -moz-transition: all 2s;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}
